
<!DOCTYPE html>

<html lang="en">
<head prefix="og: http://ogp.me/ns#">
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GHL4GSST1C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GHL4GSST1C');
</script>
  <meta property="og:title" content="AIほんやくヨウヤク" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="AIほんやくヨウヤク" />
  <meta property="og:url" content="https://www.aisakkyoku.com/honyakuyouyaku" />
  <meta property="og:site_name" content="AIほんやくヨウヤク" />
  <meta property="og:image" content="https://www.aisakkyoku.com/honyakuyouyaku/static/space_info.jpg" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Favicon-->
      <link rel="icon" type="image/png" href="./static/image/icon.png">
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->

        <link href="/static/css/styles.css" rel="stylesheet" />
         <title>AIほんやくヨウヤク -英文の翻訳と要約を同時に一瞬-</title>
</head>
<body>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container text-center">
                <a class="navbar-brand" href="/honyakuyouyaku"><img src="./static/image/logonosukashi.png" class="logo_image" width="80%" height="80%"></a>
            </div>
        </nav>
           <!-- Masthead-->
           <header class="masthead masthead-back">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <h1 class="mb-5">AIほんやくヨウヤク</h1>

                            <h3 class="mb-5"><br>URLまたは、英文を入力で<br>日本語に翻訳＆要約</h3>
                        </div>
                    </div>
                </div>
            </div>
        </header>    
<section>
<iframe src="/seita" width="100%" height="900px" frameborder="0"></iframe>
</section>
    
          <div id="footer" class="fixed-bottom shadow-lg bg-white" style="height:75px; background-color: #ffffff;">
            <form class="form-subscribe" id="contactForm" action="/result_honyakuyouyaku" method="post" enctype="multipart/form-data">
              <div class="container" style="max-width: 1500px;">
                <div class="row">
                  <div class="col-sm-9">
                    <input maxlength="5000" minlength="2" class="form-control form-control-lg" id="pageUrl" type="textarea" placeholder="URLかテキストを入力" name="page_url" required value="" style="margin-top: 5px; margin-left: 5px;"/>
                  </div>
                  <div class="col-sm-3">
                    
                    <input class="btn btn-primary" id="submitButton" type="submit" value="要約" style="margin-top: 10px; margin-right: 5px;">
                  </div>
                </div>
              </div>
            </form>
          </div>
          <style>
            @media (max-width: 1200px) {
  #submitButton {
    position: absolute;
    right: 10px;
    top: 1px;


  }
}
          </style>

<style>
  header.masthead {
    position: relative;
    background-color: #343a40;
    background: url("/static/space_info.png") no-repeat center center;
    background-size: cover;
    padding-top: 20rem;
    padding-bottom: 20rem;
  }
  </style>
    </body>

</html>
