<!DOCTYPE html>
<html lang="en">
    <head prefix="og: http://ogp.me/ns#">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K6XZB3SDVZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-K6XZB3SDVZ');
</script>
        
    <meta property="og:title" content="AIサムネメーカー" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="AIサムネメーカー|一瞬でタイトル付きのサムネを作成" />
    <meta property="og:url" content="https://www.aisakkyoku.com/aithumb" />
    <meta property="og:site_name" content="AIサムネメーカー" />
    <meta property="og:image" content="https://www.aisakkyoku.com/static/space.png" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AIサムネメーカー-一瞬でタイトル付きのサムネ画像を生成-</title>
      <!-- Favicon-->
      <link rel="icon" type="image/png" href="/static/aititle_logo_sukashi.png">
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/static/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/aithumb"><img src="/static/aititle_logo_sukashi.png" style="width:20px;">AIサムネメーカー</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                </div>
            </div>
        </nav>


        <section class="py-5">
            <div class="container px-4 px-lg-5 my-2">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6">
                        <h1 class="display-5 fw-bolder">AIサムネメーカー</h1>
                        <p class="lead">URLかテキストを入力するだけで<br>AIがタイトル付きのサムネを作成</p>
                        <div>
                            <form class="form-subscribe" id="contactForm"  action="/result_aithumb" method="post" enctype="multipart/form-data">
     
                                    <div class="col">
                                        <input maxlength="800" minlength="2" class="form-control form-control-lg" id="pageUrl" type="text" placeholder="URLまたはテキストを入力" name="page_url" required value="" />
                                    </div>
                                    
                                    <select id="select_color" name="select_color" class="form-control my-2 form-control-sm">
                                        <option selected value="(255, 255, 255)"style="color:#FFFFFF;" >白</option> 
                                        <option value="(0, 0, 0)">黒</option>
                                        <option value="(255, 0, 0)"style="color:#FF0000;" >赤</option>
                                        <option value="(255, 255, 0)"style="color:#FFFF00;" >黄</option>
                                        <option value="(255, 100, 255)"style="color:#FF64FF;" >ピンク</option>
                                        <option value="(128, 0, 128)"style="color:#800080;" >紫</option>
                                        <option value="(0, 128, 0)"style="color:#008000;" >緑</option>
                                        <option value="(0, 0, 255)" style="color:#0000FF;" >青</option>
                                      </select>
                                
                                      <select id="select_font" name="select_font" class="form-control my-2 form-control-sm">
                                        <option selected value="a" style="font-family: sans-serif;" >ゴシック体</option>   
                                        <option value="b" style="font-family: serif;">明朝体</option>       
                                        <option value="c"  style="font-family: HG丸ｺﾞｼｯｸ体;">丸ゴシック体</option>
                                      </select>
                                
                                    <div class="row"><div class="col-auto"><input class="btn btn-primary" id="submitButton" type="submit" value="サムネを作成" style="margin-top: 10px;"></div>
                                    <div class="loader"></div></div>
 <style>                              
                                .loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  display: none; /* 初期状態では非表示 */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* ボタンがクリックされた時に.loaderを表示 */
#submitButton:active + .loader {
  display: inline-block;
}

</style>
<script>
  // Submitボタンの要素を取得
const submitButton = document.getElementById("submitButton");

// Submitボタンがクリックされたら、loaderを表示
submitButton.addEventListener("click", function() {
  // loader要素を取得
  const loader = document.querySelector(".loader");
  // loaderを表示
  loader.style.display = "inline-block";
});

</script>
                                                  
                        </div>
                    </div>
                </form>   
                
              
                    <div class="col-md-6">
                        <div class="gallery-container mt-3">
                            <img class="gallery-main-image shadow " id="myImage" src="static/space_info.png" alt="AIタイトルのサムネイル画像" >

                          </div>
<button type="button" class="btn btn-info text-white" id="share-button" onclick="shareOnTwitter()" style="margin-bottom: 10px; margin-top: 10px;">シェア！<i class="bi bi-twitter"></i></button>
                    </div>

                    
                </div>
            </div>
        </section>
<section>
<iframe src="/seita" width="100%" height="900px" frameborder="0"></iframe>
</section>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
        <script>
        document.getElementById("save-button").addEventListener("click", function(){
          var link = document.querySelector("img").src;
          var a = document.createElement("a");
          a.href = link;
          a.download = "thumbnail{{ id }}.png";
          a.click();
        });
        </script>

<script>
  function shareOnTwitter() {
  var tweetText = 'AIタイトルでAIがサムネを作りました！　＃AIタイトル';
  var shareURL = 'https://www.aisakkyoku.com/aithumb';
  var shareLink = 'https://twitter.com/intent/tweet?text=' + tweetText + '&url=' + shareURL;
  window.open(shareLink);
            }
</script> 
        
        <script>
            const inputFile = document.querySelector("#avatar");
            const imgPreview = document.querySelector("#avatar-preview");

            inputFile.addEventListener("change", function () {
            const file = this.files[0];
            const reader = new FileReader();

            reader.addEventListener("load", function () {
                imgPreview.src = reader.result;
            });

            reader.readAsDataURL(file);
            });

        </script>

        <script>
            let opacity = 0;
            const interval = setInterval(() => {
            opacity += 0.01;
            document.querySelector("#myImage").style.opacity = opacity;
            if (opacity >= 1) {
                clearInterval(interval);
            }
            }, 30);
        </script>



</html>
