
<!DOCTYPE html>

<html lang="en">
<head prefix="og: http://ogp.me/ns#">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QS37D1BXX3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QS37D1BXX3');
</script>

<meta property="og:title" content="Seita" />
<meta property="og:type" content="website" />
<meta property="og:description" content="Seita's web services" />
<meta property="og:url" content="https://www.aisakkyoku.com/" />
<meta property="og:site_name" content="Seita" />
<meta property="og:image" content="https://www.aisakkyoku.com/static/example_one.png" />

<meta name=“twitter:card” content=“summary_large_image” />
<meta name=“twitter:site” content=“@naasee613“ />
<meta name=“twitter:title” content=“Seita“ />
<meta name=“twitter:description” content=“Seita” />
<meta name=“twitter:image” content=“https://www.aisakkyoku.com/static/example_one.png“ />

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->

        <link href="/static/css/styles.css" rel="stylesheet" />
         <title>Seita Nagai's Web services</title>
</head>
<body>

          
 <!-- Page Content-->
<section class="py-5">
  <div class="container px-5 my-5">
      <div class="text-center mb-5">
          <h1 class="fw-bolder">Seita's web services</h1>
          <p class="text-muted small mb-4 mb-lg-0" id="scroll-target2" >お問い合わせはメール(nagasei4649@gmail.com)もしくは、twitter<a href="https://twitter.com/naasee613" target="_blank">Seita Nagai</a>のDMまでお願いします。</p>
      </div>
      <div class="row gx-5">
          <div class="col-lg-6">
              <div class="position-relative mb-5">
                  <img class="img-fluid rounded-3 mb-3" src="static/aisakkyoku_home.png" alt="..." width="600" height="400" />
                  <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="/" target="_blank">AIサッキョク</a>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="position-relative mb-5">
                  <img class="img-fluid rounded-3 mb-3" src="static/honyakuyouyaku_home.png" alt="..." width="600" height="400" />
                  <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="/honyakuyouyaku " target=_blank">AIほんやくヨウヤク</a>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="position-relative mb-5">
                  <img class="img-fluid rounded-3 mb-3" src="static/storiesai_home.png" alt="..." width="600" height="400" />
                  <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="storiesai" target="_blank">StoriesAI</a>
              </div>
          </div>
          <div class="col-lg-6">
            <div class="position-relative mb-5">
                <img class="img-fluid rounded-3 mb-3" src="static/aithumb_home.png" alt="..." width="600" height="400" />
                <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="aithumb" target="_blank">AIサムネメーカー</a>
            </div>
        </div>          
          <div class="col-lg-6">
              <div class="position-relative">
                  <img class="img-fluid rounded-3 mb-3" src="static/mierukaqa_home.png" alt="..." width="600" height="400" />
                  <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="https://github.com/Seitadesu/mierukaqa.com" target="_blank">見える化アンケート(ソースコード)</a>
              </div>
          </div>
        <div class="col-lg-6">
            <div class="position-relative">
                <img class="img-fluid rounded-3 mb-3" src="static/bunmozi_home.png" alt="..." width="600" height="400" />
                <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="/bunmozi" target="_blank">ブン文字カウンター</a>
            </div>
        </div>                                                                                                                                                       
      </div>
  </div>
</section>
      </main> 
        
        <!-- Footer-->
        <footer class="footer bg-light style=">
          <div class="container" style="margin-bottom: 50px;">
              <div class="row">
                  <div class="col-lg-6 h-100 text-center text-lg-start my-auto" >
                      <p class="text-muted small mb-4 mb-lg-0" >&copy; 2023- Seita    All Rights Reserved.<br> produced by Seita Nagai</p>
                      <p class="text-muted small mb-4 mb-lg-0" id="scroll-target2" >お問い合わせはメール(nagasei4649@gmail.com)もしくは、twitter<a href="https://twitter.com/naasee613" target="_blank">Seita Nagai</a>のDMまでお願いします。</p>
                      <p class="text-muted small mb-4 mb-lg-0" ><a href="https://www.aisakkyoku.com/storiesai" target="_blank">StoriesAI</a></p>
                      <p class="text-muted small mb-4 mb-lg-0" ><a href="https://www.aisakkyoku.com" target="_blank">AIサッキョク</a></p>
                      <p class="text-muted small mb-4 mb-lg-0" ><a href="https://www.honyakuyouyaku.com/aithumb" target="_blank">AIサムネメーカー</a></p>
                      <p class="text-muted small mb-4 mb-lg-0" ><a href="https://www.aisakkyoku.com/honyakuyouyaku" target="_blank">AIほんやくヨウヤク</a></p>
                      <p class="text-muted small mb-4 mb-lg-0" ><a href="https://github.com/Seitadesu/mierukaqa.com" target="_blank">見える化アンケート</a></p>
                      <p class="text-muted small mb-4 mb-lg-0" ><a href="https://www.aisakkyoku.com/schoolforce" target="_blank">スクールフォース</a></p>                                                                                                                 
                  </div>
              </div>
          </div>
        </footer>

      
    </body>

</html>
